<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/layouts/layout-nonLogin}">

<title layout:fragment="title">
    Join
</title>

<div layout:fragment="content">

    <div class="container">
        <div class="text-center">
            <h2>고객 회원 가입</h2>
        </div>
        <h4 class="mb-3">정보 입력</h4>
        <form action="" th:action th:object="${memberFormDto}" method="post">
            <div th:if="${#fields.hasGlobalErrors()}">
                <p class="field-error" th:each="err : ${#fields.globalErrors()}"
                   th:text="${err}">전체 오류 메시지</p>
            </div>
            <div th:if="${errorMessage}">
                <p class="field-error"
                   th:text="${errorMessage}">닉네임 중복 오류 메세지</p>
            </div>
            <div>
                <label for="name">이름</label>
                <input type="text" id="name" th:field="*{name}" class="form-control"
                       th:errorclass="field-error" placeholder="이름을 입력하세요">
                <div class="field-error" th:errors="*{name}" />
            </div>
            <div>
                <label for="nickName">닉네임</label>
                <input type="text" id="nickName" th:field="*{nickName}" class="form-control"
                       th:errorclass="field-error" placeholder="닉네임을 입력하세요">
                <div class="field-error" th:errors="*{nickName}" />
            </div>
            <div>
                <label for="password">비밀번호</label>
                <input type="password" id="password" th:field="*{password}"
                       class="form-control"
                       th:errorclass="field-error" placeholder="비밀번호를 입력하세요">
                <div class="field-error" th:errors="*{password}" />
            </div>
            <div class="form-group">
                <label th:for="city">도시</label>
                <input type="text" th:field="*{city}" class="form-control"
                       th:errorclass="field-error" placeholder="도시를 입력하세요">
                <div class="field-error" th:errors="*{city}" />
            </div>
            <div class="form-group">
                <label th:for="street">거리</label>
                <input type="text" th:field="*{street}" class="form-control"
                       th:errorclass="field-error" placeholder="거리명을 입력하세요">
                <div class="field-error" th:errors="*{street}" />
            </div>
            <div class="form-group">
                <label th:for="zipcode">우편번호</label>
                <input type="text" th:field="*{zipcode}" class="form-control"
                       th:errorclass="field-error" placeholder="우편번호를 입력하세요">
                <div class="field-error" th:errors="*{zipcode}" />
            </div>
            <hr class="my-4">
            <div class="row">
                <div class="col">
                    <button class="w-100 btn btn-primary btn-lg" type="submit">회원
                        가입</button>
                </div>
                <div class="col">
                    <button class="w-100 btn btn-secondary btn-lg"
                            th:onclick="|location.href='@{/}'|"
                            type="button">취소</button>
                </div>
            </div>
        </form>
    </div> <!-- /container -->

</div>

</html>