<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/layouts/layout-shopLogin}">

<title layout:fragment="title">
    Shop Order
</title>

<div layout:fragment="content">

    <div class="container">

        <div>
            <br>
            <p th:text="|${shop.name}님 환영합니다|"></p>
        </div>

        <div class="text-center">
            <br>
            <h2>주문 목록</h2>
        </div>
        <hr>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>주문자</th>
                <th>주문 상태</th>
                <th>상세 내역</th>
                <th>배달 상태</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${orderStat.count}"></td>
                <td th:text="${order.member.nickName}"></td>
                <td class="field-error" th:if="${#strings.equals(order.orderStatus, 'ON_GOING')}" th:text="'접수 중'"></td>
                <td class="field-error" th:if="${#strings.equals(order.orderStatus, 'CANCLE')}" th:text="'주문 취소'"></td>
                <td class="field-error" th:if="${#strings.equals(order.orderStatus, 'COMPLETE')}" th:text="'주문 완료'"></td>
                <td>
                    <a href="#" class="btn btn-light" th:href="@{/order/shop/{orderId} (orderId = ${order.id})}"
                       role="button">⚡</a>
                </td>
                <td th:text="${order.delivery.deliveryStatus}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</html>