<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/layouts/layout-main}">

<title layout:fragment="title">
    Main
</title>

<div layout:fragment="content">

    <div class="container">
        <div class="jumbotron">
            <p class="lead">로그인</p>
            <p>
                <a class="btn btn-lg btn-outline-dark" href="/members/login">고객 로그인</a>
                <a class="btn btn-lg btn-outline-dark" href="/shops/login">식당 로그인</a>
                <a class="btn btn-lg btn-outline-dark" href="/riders/login">라이더 로그인</a>
            </p>
            <p class="lead">회원 가입</p>
            <p>
                <a class="btn btn-lg btn-outline-info" href="/members/new">고객 회원 가입</a>
<!--                <a class="btn btn-lg btn-info" href="/shops/new">식당 회원 가입</a>-->
<!--                <a class="btn btn-lg btn-info" href="/riders/new">라이더 회원 가입</a>-->
            </p>
        </div>
    </div>

</div>

</html>