<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/layouts/layout-memberLogin}">

<title layout:fragment="title">
    Member Main
</title>

<div layout:fragment="content">

    <div class="container">

        <div>
            <br>
            <p th:text="|${member.nickName}님 환영합니다!|"></p>
        </div>

        <div class="text-center">
            <h2>식당</h2>
        </div>
        <hr>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>식당명</th>
                <th>카테고리</th>
                <th>메뉴 보기</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="shop : ${shops}">
                <td th:text="${shopStat.count}"></td>
                <td><a th:href="@{/}" th:text="${shop.name}"></a></td>
                <td th:text="${shop.category}"></td>
                <td>
                    <a href="#" th:href="@{/menus/shop/{shopId} (shopId = ${shop.id})}"
                       class="btn btn-light" role="button">🍗</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</html>